@charset "UTF-8";

/*getting started stylesheet*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
The reset CSS overrides all the style rules applied by the browser stylesheet.
If you don't want to reset all CSS values then comment the reset rules out----*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of reset style rules---------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*START YOUR STYLSESHEET RULES HERE
/*default rule for all elements*/
body {
}
/*page section elements-----------------------------------------------------*/
#wrapper {
}
header {
}
nav	{
}
aside	{
}
article	{
}
footer {
}
/*headings----------------------------------------------------------------------*/
h1	{
}
h2	{
}
h3 	{
}
/*grouping elements--------------------------------------------------------------*/
p	{
}
/*lists--------------------------------------------------------------------------*/
ul	{
}
li	{
}
/*text elements-------------------------------------------------------------------*/
small	{
}
.post	{
}
/*embedded elements----------------------------------------------------------------*/
img	{
}
/*anchors-------------------------------------------------------------------------*/
a:link	{
}
a:visited {
}
a:hover {
}
a:active {
}